{% extends "base/layout.html" %}
{% block content %}
<form class="form-inline" action="/">
  <div class="form-group">
    <label for="exampleInputName2">站点</label>
      <select class="form-control" name="site">
      <option value="">所有</option>
        {% for i in sites %}
            <option value="{{ i[0] }}">{{ i[0] }}</option>
          {% endfor %}
      </select>
  </div>
  <button type="submit" class="btn btn-default">查询</button>
</form>

<div class="panel-body">
    <table class="table table-bordered">
      <tr>
          <th>id</th>
          <th>title</th>
          <th>type</th>
          <th>img</th>
          <th>site</th>
          <th>content_id</th>
          <th>create_time</th>
      </tr>
         {% for blog in page.items %}
        <tr>
            <td> {{ blog.id }}</td>
            <td> {{ blog.title }}</td>
            <td> {{ blog.type }}</td>
            <td> {{ blog.img }}</td>
            <td> {{ blog.site }}</td>
            <td> {{ blog.content_id }}</td>
            <td> {{ blog.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% import "base/page.html" as blocks %}
{{blocks.pager('/list',page.pages, page.page)}}

<script>
site = '{{ params.site or '' }}'
$("select").val(site)
$(".navbar-nav li").eq(0).addClass('active')
</script>
{% endblock %}

