<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抓取查看后台</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading">查看抓取列表</div>
   <form class="form-inline" action="/">
  <div class="form-group">
    <label for="exampleInputName2">站点</label>
      <select class="form-control" name="site">
      <option value="">所有</option>
        {% for i in sites %}
            <option value="{{ i[0] }}">{{ i[0] }}</option>
          {% endfor %}
      </select>
  </div>
  <button type="submit" class="btn btn-default">查询</button>
</form>
</div>
<div class="panel-body">
    <table class="table table-bordered">
      <tr>
          <th>id</th>
          <th>title</th>
          <th>type</th>
          <th>img</th>
          <th>site</th>
          <th>content_id</th>
          <th>create_time</th>
      </tr>
         {% for blog in page.items %}
        <tr>
            <td> {{ blog.id }}</td>
            <td> {{ blog.title }}</td>
            <td> {{ blog.type }}</td>
            <td> {{ blog.img }}</td>
            <td> {{ blog.site }}</td>
            <td> {{ blog.content_id }}</td>
            <td> {{ blog.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% import "base/page.html" as blocks %}
{{blocks.pager('/list',page.pages, page.page)}}

<script>
    site = '{{ params.site or '' }}'
    $("select").val(site)
</script>
</body>
</html>