{% extends "base/layout.html" %}
{% block content %}

<div id="main" style="height:500px"></div>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

<script type="text/javascript">

</script>
<script>
    option = {
    title : {
        text: '网站抓取量统计',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:[
            {% for t in totals %}
            '{{ t[0] }}'
            {% if not loop.last %}
            ,
            {% endif %}
            {% endfor %}
        ]
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true,
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {% for t in totals %}
                {value:{{ t[1] }}, name:'{{ t[0] }}'}
                    {% if not loop.last %}
                    ,
                    {% endif %}
                {% endfor %}
            ]
        }
    ]
};

       // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    require(
            [
                'echarts',
                'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
            ],
     function (ec) {
         var myChart = ec.init(document.getElementById('main'));
         myChart.setOption(option);
     }
    );
$(".navbar-nav li").eq(1).addClass('active')
</script>
{% endblock %}